*{
    margin: 0;
    overflow-y: hidden;
}

.tab{
    position: absolute;
    background-color:beige;
    height: 100%;
    width: 40%;
    left: -35%;
    transition: .1s ease all;
    border: 1px solid rgba(29, 28, 28, 0.3);
}

.exit{
    display: block;
    top: 0.5%;
    left: 97%;
    cursor: pointer;
    background-color: #E70042;
    color: #ffffff;
    height: 1cm;
    width: 1cm;
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .1s ease all;
    margin-left: 90%;
}

.exit1{
    display: block;
    position: fixed;
    top: 0.5%;
    left: 97%;
    cursor: pointer;
    background-color: #E70042;
    color: #ffffff;
    height: 1cm;
    width: 1cm;
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .1s ease all;
}

.exit1:hover{
    background-color: #C70039;
}

.exit1:hover + .tab{
    background-color: #C70039;
}

.exit:hover{
    background-color: #C70039;
}

.tab + .exit:hover + .tab
{
    left: 0;
    background-color: coral;
}

/*
COLORES
*/

.white{
    color: #ffffff;
}