/* Colores
Verde
#36A152
#39AC6D

Rojo
#913039


*/
body {
    background-color: #2E3440;
    margin: 0;
}

.fullscreen{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: inherit;
    background-size: contain;
    background-position: center;
}

.container{
    background-color: rgba(1, 1, 1, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    height: 30%;
    width: 100%;
    margin: auto;
    margin-top: 10%;
}

.options{
    width: 15%;
    height: 20%;
    display: grid;
    color: #FFF;
    /*animation: all ease-in-out;*/
    transition: all 1000ms;
}

.option1{
    background-color: rgba(199, 0, 57, 0.6);   
}

.option1:hover{
    background-color: rgba(199, 0, 57, 0.8);
}

.option2{
    background-color: rgba(54, 161, 82, 0.6);
}

.option2:hover{
    background-color: rgba(54, 161, 82, 0.8);
}

.not-selectable{
    cursor: pointer;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}