*{
    margin: 0;
}

body, html{
    height: 100%;
}

body {
    background-color: #2E3440;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #3B4252;
    display: block;
    position: absolute;
    height: 12cm;
    width: 12cm;
    border: 2px solid #3B4252;
    text-align: center;
}

.tittle{
    font-family: Arial;
    color: #88C0D0;
    text-align: center;
    line-height: 55px;
}

.subject{
    color: #ECEFF4;
}

.asd{
    text-align: center;
    border-radius: 20px;
    height: 1cm;
    background-color: #4C566A;
    border: 2px solid #5E81AC;
    color: #ECEFF4;
}