*{
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}



.nav-main {
    background-color: rgba(55, 62, 77, 1);
    display: flex;
    position: absolute;
    height: 5%;
    width: 100%;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-brand {
    height: 5%;
    margin-left: 2%;
    padding: 4px 0px 0px 0px;
}

li {
    padding: 15px 15px;
}